@charset "UTF-8";
//这里的嵌套格式一定要用花阔号，
//每句都要用结束符可以使用私有属性
@import "_config.scss";
@import "_mixins.scss";
@import "variable.scss";
//人民币充值
.reCard{
     width: 96%;
    padding: 20px 2%;
    h3{
       font-size: 22px;
        padding: 20px;

    }
    .JreCard{
        margin-top: 15px;
    }
    select,input{
        border: 1px solid #ccc;
    }
    p{
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        select{
            width: 200px;
            height: 30px;
        }
        input{
            width:193px;
            height: 26px;
            padding-left: 5px;
        }
        
    }
    .Jbtn{
            margin: 10px;
            height: 30px;
            line-height: 30px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: $tcolor1;
            cursor: pointer;
            color: #fff;
            &:hover{
        background-color: $tcolor2;
        }
    }
    .coin{font-size: 35px;}
    ul{
        text-align: center;
        width: 100%;
        border-bottom: 1px solid rgba(204, 204, 204, 0.4);
    } 
    ul.ulHeader{
            background-color:$ulcolor;
    } 
    ul.ulData{li{

        font-size: 14px;
    }} 
    ul li{
        padding:10px 0;
        float: left;
        width: $width/6;
        a{
            color: $atcolor1;
            &:hover{
                 color: $atcolor2;
            }
        }
    }
    .Jpage{
        text-align: center;
        span{
            background-color: $tcolor1;
            padding: 5px 10px;
            cursor: pointer;
            margin:0 10px; 
            color: #fff;
            &:hover{
                background-color: $tcolor2;
            }
        }
        p:nth-child(1){
            padding-top: 20px;
        }
        p{
            padding-top:15px;
        }
        p select{
            width: 50px;
            margin: 0 10px;
            height: auto;
        }
    }
}
//最大宽屏1200px的时候
@include respond-to(lg){
   .reCard{
        h3{
           font-size: 20px;
            padding: 20px;

        }
    }
    
}

//最大宽屏480px的时候
.reCard{
    @include respond-to(xs){
        width: 100%;
        border: 0;
    }
}
