@charset "UTF-8";
html{font-size: 16px;}
body{font-size: 16px;}
@import "_config";
@import "_mixins";
@import "common.css";
@import "variable";
@import "header";
// .register{
//   width: 100%;
//   padding-top: 30px;

//   .container{
//   	padding: 20px;
//     width: 1160px;
//     background-color: #fff;
//     margin: 0 auto;
//     box-shadow: 0px 0px 10px #ccc;
//   }
// }


.container{
	margin: 0 auto;
	box-shadow: 0px 0px 10px #ccc;
	margin-top: 30px;
	background-color: #fff;
	width: 1160px;
	padding: 20px;

	h2{
		// text-align: center;
		font-size: 20px;
		font-weight: bold;
		padding-left: 30px;
		border-bottom: 1px solid #eee;
		padding-bottom: 20px;
	}
}

.reg{
	width: 700px;
	// margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 50px;
	.regType{
		border-bottom: 1px solid #ccc;
		li{
			padding:8px 30px; 
			float: left;
			cursor: pointer;
			// border: 1px solid #ccc;
		}
	}
	.regBox{
		.message{
			font-size: 12px;
			color:#c00;
			width: 100%;
			background-color: #fdf3f3;
			padding:6px 0;
			text-align: center;
		}
		.allright{
			font-size: 14px;
			color:#44a200;
			width: 100%;
			background-color: #f3fdf4;
			padding:6px 0;
			text-align: center;
		}
		li{
			padding-top: 30px;
			float: left;
			td{
				line-height: 30px;
				padding:10px 10px;
				.getcode{
					background-color: #126eb4;
					border: none;
					color:white;
					font: normal normal 14px/26px 'microsoft yahei';
				}
				input[type='text']{
					padding-left: 10px;
					width: 240px;
					height: 26px;
					border: 1px solid #ccc;
				}
				.yzma{
					width: 166px !important;
				}
				input[type='password']{
					padding-left: 10px;
					width: 240px;
					height: 26px;
					border: 1px solid #ccc;
				}
				.erro{
					padding-left: 10px;
					color:red;
				}
				.right{
					padding-left: 10px;
					color:green;
				}
			}
		}
	}
	.next{
		padding-top: 20px;
		margin-left: 150px;
			button{
				width: 200px;
				background-color: #126eb4;
				padding:8px 20px; 
				border: none;
				color:#fff;
				font-family: 'microsoft yahei';
				font-size: 14px;
			}
		}
}
.selLi{
	background-color: #ccc;
	color:#fff
}
.fr{
	text-align: right;
}
.active{
	background-color: #126eb4 !important;
}
// maskbox

.fr{
	float: right;
}
.pt{
	cursor: pointer;
}
.pt:hover{
	color:red;
}

// respond
// xs:480px;sm:768px;md:992px;lg:1200px
@include respond-to(lg) {
	.container{
		padding:20px 0;
		width: 100%;
	}
	.reg{
		width: 100%;
		padding-top: 30px;
		
		li{
			padding-top: 10px;
			tr{
				max-width: 320px;
			}
			td{
				padding: 0 !important;
				font-size: 10px;
				input{
					max-width: 120px;
				}
				.yzma{
					max-width: 80px;
				}
				.yzmimg{
					max-width: 100px;
				}
				.erro{
					font-size: 10px;
					position: absolute;
					line-height: 15px;
					max-width: 100px;
					padding-left: 10px;
					color:red;
				}
				.right{
					max-width: 100px;
					padding-left: 10px;
					color:green;
				}
			}
		}
		.next{
			margin-left: 30px;	
		}
	}

}