@import "_config";
@import "_mixins";
.home_header{
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.15);
  .hd_inner{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    .hd_logo{
      float: left;
      margin-right:30px;
      a{
        display: block;
        padding: 10px 0;
      }
      img{
        height: 40px;
      }
    }
    .hd_list{
      float: left;
      .alist{
        float: left;
        a{
          float: left;
          overflow: hidden;
          display: block;
          height: 60px;
          line-height: 60px;
          color: #fff;
          font-size: 16px;
          padding: 0 14px;
          cursor: pointer;
        }
        a:hover{
          color: #fff;
          background-color: #117dc8 ;
        }
        a.on{
          color: #fff;
          background-color: #117dc8 ;
        }
        a.aon{
          color: #66def8;
        }
      }
    }
    .blist{
         float: right;
        .weixina{
          float: left;
            margin-right:10px;
          height: 60px;
          line-height: 60px;
          color: #fff;
          font-size: 14px;
          padding: 0 5px;
          cursor: pointer;
          position:relative;
          img{
            width:20px;
            height:20px;
            margin-right:5px;
          }
          span{
            line-height: 60px;
             font-size: 14px;
            cursor: pointer;}

          .wxbox{
            opacity: 0;
            filter: alpha(opacity=0);
            z-index:999;
            border: 1px solid #dcdcdc;
            width: 100px;
            height:0;
            padding:0;
            transition: all .5s ease-in-out 0s;
            position: absolute;
            top: 60px;
            left: -15px;
            background-color: white;
            img{
              width:100px;
              height:100px;
              margin-right:0;
            }
          }
        }
        .weixina:hover{
          background-color: rgba(0,0,0,0.5);
        }
        .weixina:hover .wxbox{
          opacity: 1;
          height:100px;
          padding:10px;
        }
        .dlzc{
           float: left;
          height: 60px;
          line-height: 60px;
          color: #fff;
          font-size: 14px;
          padding: 0 5px;
          cursor: pointer;
          img{
             width:20px;
            height:20px;
            margin-right:0;
          }
          .zc{
            display: inline-block;
             padding: 0 5px;
             color:#fff;
          }
          span{
            padding: 0 5px;
          }
        }
        .dlh{
          float: left;
          position:relative;
          height: 60px;
          line-height: 60px;
          color: #fff;
          font-size: 14px;
          padding: 0 5px;
          cursor: pointer;
          img{
             width:20px;
            height:20px;
            margin-right:0;
          }
          span{
            padding: 0 5px;
          }
         i{
            display: inline-block;
            transform:rotate(180deg);
            -ms-transform:rotate(180deg);   /* IE 9 */
            -moz-transform:rotate(180deg);  /* Firefox */
            -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
            -o-transform:rotate(180deg);  /* Opera */
          }
          .xxbox{
            opacity: 0;
            filter: alpha(opacity=0);
            z-index:999;
            border: 1px solid #dcdcdc;
            width: 200px;
            height:0;
            padding:0;
            transition: all .5s ease-in-out 0s;
            position: absolute;
            top: 60px;
            right:0;
            background-color: white;
            p{
              color:#000;
              line-height: 30px;
              font-size: 14px;
              }
              .out{
                text-align:right;
              }
          }
        }
         .dlh:hover{background-color: rgba(0,0,0,0.5);}
         .dlh:hover i{
            display: inline-block;
            transform:rotate(0deg);
            -ms-transform:rotate(0deg);   /* IE 9 */
            -moz-transform:rotate(0deg);  /* Firefox */
            -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
            -o-transform:rotate(0deg);  /* Opera */
          }
          .dlh:hover .xxbox{
          opacity: 1;
          height:100px;
          padding:10px;
        }
        .lanague{
           float: left;
          position:relative;
          height: 60px;
          line-height: 60px;
          color: #fff;
          font-size: 14px;
          padding: 0 5px;
          cursor: pointer;
          .langa{
            padding: 0 5px;
            i{
              display: inline-block;
              transform:rotate(180deg);
              -ms-transform:rotate(180deg);   /* IE 9 */
              -moz-transform:rotate(180deg);  /* Firefox */
              -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
              -o-transform:rotate(180deg);  /* Opera */
            }
            a {
              color: white;
              font-size: 12px;
              display: inline-block;
              width: 50px;
              float: left;
            }
            .cn {
              width: 30px;
              height: 30px;
                  margin-top: 15px;
              display: inline-block;
              background: url('../images/flag.png') no-repeat 1px 8px;
            }
            .en {
                width: 30px;
                height: 30px;
                    margin-top: 15px;
                display: inline-block;
                background: url('../images/flag.png') no-repeat 1px -22px;
            }
          }
         
          .langbox{
            display:none;
            z-index:999;
            border: 1px solid #dcdcdc;
            position: absolute;
            top: 60px;
            left:0;
            width: 114px;
            background-color: white;
             li {
                padding: 0 26px;
                width: 60px;
                height: 40px;
                border-bottom: 1px dotted #D5D5D5;
                border-left: none;
                border-right: none;
                a {
                    font-size: 12px;
                    float: right;
                    display: inline-block;
                    width: 48px;
                    height: 40px;
                    line-height: 40px;
                }
            }
            li:hover a{
               color:red;
            }
            li.en {
                background: url('../images/flag.png') no-repeat 10px -17px;
            }
            li.cn {
                background: url('../images/flag.png') no-repeat 11px 13px;
            }
          }
        }
        .lanague:hover{background-color: #fff;}
        .lanague:hover a{color:#000;}
         .lanague:hover .langbox{display:block;}
         .lanague:hover i{
            color:blue;
            display: inline-block;
            transform:rotate(0deg);
            -ms-transform:rotate(0deg);   /* IE 9 */
            -moz-transform:rotate(0deg);  /* Firefox */
            -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
            -o-transform:rotate(0deg);  /* Opera */
          }
      }
    .ce{
      color: #fff;
      display: block;
      float: right;
      margin-top: 30px;
      cursor: pointer;
      em{
        font-size: 14px;
      }
      em.on{
        color: red;
      }
    }
  }
}
// xs:480px;sm:768px;md:992px;lg:1200px;mg:1400px
@include respond-to(lg) {
  .home_header{
    height: 60px;
    background: rgba(0,0,0,0.15);
    .hd_inner{
      width: 992px;
      height:60px;
      .hd_logo{
        img{
          height: 40px;
        }
      }
      .ce{
        margin-top: 30px;
      }
      .hd_list{
        .alist{
          a{
            height: 60px;
            line-height: 60px;
            font-size: 15px;
            padding: 0 10px;
          }
        }
      }
    }
  }
}
@include respond-to(md) {
  .home_header{
    height: 50px;
    background: rgba(0,0,0,0.15);
    .hd_inner{
      width: 768px;
      height:50px;
      .hd_logo{
          margin-right: 15px;
        img{
          height: 30px;
              width: 90px;
        }
      }
      .ce{
        margin-top: 25px;
        em{
          font-size: 14px;
        }
      }
      .hd_list{
        .alist{
          a{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            padding: 0 6px;
          }
        }
      }
      .blist{
        .weixina{
          margin-right:5px;
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          padding: 0 5px;
          img{
            width:15px;
            height:15px;
            margin-right:5px;
          }
          span{
            line-height: 50px;
             font-size: 14px;}

          .wxbox{
            width: 70px;
            top: 50px;
            left: 2px;
            img{
              width:70px;
              height:70px;
              margin-right:0;
            }
          }
        }
        .weixina:hover .wxbox{
          height:70px;
          padding:5px;
        }
        .dlzc{
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          padding: 0 5px;
          img{
             width:15px;
            height:15px;
            margin-right:0;
          }
          .zc{
             padding: 0 5px;
          }
          span{
            padding: 0 5px;
          }
        }
        .dlh{
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          padding: 0 5px;
          img{
             width:15px;
            height:15px;
            margin-right:0;
          }
          span{
            padding: 0 5px;
          }
          .xxbox{
            width: 200px;
            height:0;
            padding:0;
            top: 50px;
            right:0;
            p{
              line-height: 24px;
              font-size: 12px;
              }
          }
        }
        .dlh:hover .xxbox{
          height:80px;
          padding:7px;
        }
        .lanague{
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          padding: 0 5px;
          .langa{
            padding: 0 5px;
            .iconfont {
           font-size: 10px;}
            a {
              font-size: 12px;
              width: 48px;
            }
            .cn {
              width: 30px;
              height: 30px;
              margin-top: 10px;
            }
            .en {
                width: 30px;
                height: 30px;
                margin-top: 10px;
            }
          }
         
          .langbox{
            top: 50px;
            left:0;
            width: 108px;
             li {
                padding: 0 24px;
                width: 60px;
                height: 40px;
                a {
                    font-size: 12px;
                    width: 48px;
                    height: 40px;
                    line-height: 40px;
                }
            }
          }
        }
      }
    }
  }
}
// xs:480px;sm:768px;md:992px;lg:1200px;mg:1400px
@include respond-to(sm) {
  .home_header{
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: rgba(0,0,0,0.15);
    .hd_inner{
      width:100%;
      height: 75px;
      margin: 0 0;
      min-width: 320px;
      .hd_logo{
        float: left;
        a{
          display: block;
          padding: 5px 0;
        }
        img{
          height: 30px;
          width:140px;
          margin-left: 50px;
        }
      }
      .ce{
        color: #fff;
        display: block;
        position: absolute;
        top: -10px;
        right: 50px;
        margin-top: 25px;
        cursor: pointer;
        em{
          font-size: 12px;
        }
        em.on{
          color: red;
        }
      }
      .hd_list{
        float: none;
        height: 35px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: rgba(85, 85, 85, 0.24);
         .alist{
           position: absolute;
           display: block;
           width: 100%;
           min-width: 510px;
           height: 35px;
           box-shadow: 0 3px 3px #ccc;
           a{
             float: left;
             overflow: hidden;
             display: block;
             height: 35px;
             line-height: 35px;
             color: #fff;
             font-size: 14px;
             padding: 0 5px;
           }
         }
      }
        .blist{
        .weixina{
          margin-right:5px;
          height: 40px;
          line-height: 40px;
          font-size: 10px;
          padding: 0 5px;
          img{
            width:14px;
            height:14px;
            margin-right:5px;
          }
          span{
            line-height: 40px;
             font-size: 10px;}

          .wxbox{
            width: 70px;
            top: 40px;
            left: -2px;
            img{
              width:70px;
              height:70px;
              margin-right:0;
            }
          }
        }
        .weixina:hover .wxbox{
          height:70px;
          padding:5px;
        }
        .dlzc{
          height: 40px;
          line-height: 40px;
          font-size: 10px;
          padding: 0 5px;
          img{
             width:15px;
            height:15px;
            margin-right:0;
          }
          .zc{
             padding: 0 5px;
          }
          span{
            padding: 0 5px;
          }
        }
        .dlh{
          height: 40px;
          line-height: 40px;
          font-size: 10px;
          padding: 0 5px;
          img{
             width:15px;
            height:15px;
            margin-right:0;
          }
          span{
            padding: 0 5px;
          }
          .xxbox{
            width: 200px;
            height:0;
            padding:0;
            top: 40px;
            right:0;
            p{
              line-height: 24px;
              font-size: 10px;
              }
          }
        }
        .dlh:hover .xxbox{
          height:80px;
          padding:7px;
        }
        .lanague{
          height: 40px;
          line-height: 40px;
          font-size: 10px;
          padding: 0 5px;
          .langa{
            padding: 0 5px;
            .iconfont {
           font-size: 10px;}
            a {
              font-size: 10px;
              width: 48px;
            }
            .cn {
              width: 30px;
              height: 30px;
              margin-top: 10px;
            }
            .en {
                width: 30px;
                height: 30px;
                margin-top: 10px;
            }
          }
         
          .langbox{
            top: 40px;
            left:0;
            width: 108px;
             li {
                padding: 0 24px;
                width: 60px;
                height: 40px;
                a {
                    font-size: 12px;
                    width: 48px;
                    height: 40px;
                    line-height: 40px;
                }
            }
          }
        }
      }
    }
  }
}
// xs:480px;sm:768px;md:992px;lg:1200px;mg:1400px
@include respond-to(xs) {
  .home_header{
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: rgba(0,0,0,0.15);
    .hd_inner{
      width:100%;
      height: 75px;
      margin: 0 0;
      min-width: 320px;
      .hd_logo{
        float: left;
        margin-right:5px;
        a{
          display: block;
          padding: 5px 0;
        }
        img{
          height: 30px;
          width:40px;
          margin-left: 0px;
        }
      }
      .ce{
        color: #fff;
        display: block;
        position: absolute;
        top: -10px;
        right: 50px;
        margin-top: 25px;
        cursor: pointer;
        em{
          font-size: 12px;
        }
        em.on{
          color: red;
        }
      }
      .hd_list{
        float: none;
        height: 35px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: rgba(85, 85, 85, 0.24);
         .alist{
           position: absolute;
           display: block;
           width: 100%;
           min-width: 510px;
           height: 35px;
           box-shadow: 0 3px 3px #ccc;
           a{
             float: left;
             overflow: hidden;
             display: block;
             height: 35px;
             line-height: 35px;
             color: #fff;
             font-size: 14px;
             padding: 0 5px;
           }
         }
      }
        .blist{
        float: none;
        .weixina{
          margin-right:2px;
          height: 40px;
          line-height: 40px;
          font-size: 10px;
          padding: 0 2px;
          img{
            width:14px;
            height:14px;
            margin-right:2px;
          }
          span{
            line-height: 40px;
             font-size: 10px;}

          .wxbox{
            width: 70px;
            top: 40px;
            left: -2px;
            img{
              width:70px;
              height:70px;
              margin-right:0;
            }
          }
        }
        .weixina:hover .wxbox{
          height:70px;
          padding:2px;
        }
        .dlzc{
          height: 40px;
          line-height: 40px;
          font-size: 10px;
          padding: 0 2px;
          img{
             width:15px;
            height:15px;
            margin-right:0;
          }
          .zc{
             padding: 0 2px;
          }
          span{
            padding: 0 2px;
          }
        }
        .dlh{
          height: 40px;
          line-height: 40px;
          font-size: 10px;
          padding: 0 2px;
          img{
             width:15px;
            height:15px;
            margin-right:0;
          }
          span{
            padding: 0 2px;
          }
          .xxbox{
            width: 100px;
            height:0;
            padding:0;
            top: 40px;
            right:0;
            p{
              line-height: 24px;
              font-size: 10px;
              }
          }
        }
        .dlh:hover .xxbox{
          height:95px;
          padding:7px;
        }
        .lanague{
          height: 40px;
          line-height: 40px;
          font-size: 10px;
          padding: 0 5px;
          .langa{
            padding: 0 5px;
            .iconfont {
           font-size: 10px;}
            a {
              font-size: 10px;
              width: 48px;
            }
            .cn {
              width: 30px;
              height: 30px;
              margin-top: 5px;
            }
            .en {
                width: 30px;
                height: 30px;
                margin-top: 5px;
            }
          }
         
          .langbox{
            top: 40px;
            left:0;
            width: 108px;
             li {
                padding: 0 24px;
                width: 60px;
                height: 40px;
                a {
                    font-size: 12px;
                    width: 48px;
                    height: 40px;
                    line-height: 40px;
                }
            }
          }
        }
      }
    }
  }
}