html{font-size: 16px;}
body{font-size: 16px;background: #ecf0f1}
@import "_config";
@import "_mixins";
@import "common.css";
@import "home_header";
@import "home_banner";
@import "home_notice";
@import "home_market";
@import "home_info";
@import "home_ensurence";
@import "home_trading";
@import "home_link";
@import "links";
@import "footer";
body{position:relative;}
.xianshia{
	display:block! important;
}

.loginBox{
    display:none;
    z-index:999;
    position:absolute;
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    .box_1 {
        padding-left: 0;
        padding-top: 20px;
        height: 280px;
        width: 450px;
        background:#fff;
        border:5px solid rgba(0,0,0,0.3);
        position: fixed;
        top:20%;left:35%;

        .close{
             position: absolute;
		    top: 5px;
		    right: 15px;
		    font-size: 25px;
		    font-weight: bold;
		    color: #117dc8;
		    cursor:pointer;
         }
        .login_title {
          padding-left: 10px;
          color: #000;
          height: 30px;
          line-height: 30px;
          font-size: 18px;
          margin-bottom: 19px;
        }
        .login_text {
          width: 100%;
          margin-bottom: 15px;
          position: relative;
          font-size: 12px;
          input {
            background: #fff;
            outline: none;
            width: 85.5%;
            border: 1px #d7d7d7 solid;
            border-right: none;
            border-left: none;
            height: 18px;
            padding: 10px 0;
            padding-right: 7px;
            padding-left: 40px;
            line-height: 18px;
            vertical-align: middle;
            color: #999;
          }
        }
        .zin100 {
          z-index: 100;
          i {
            background: url(../images/icon24_login.png) no-repeat 0 0;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 10px;
            top: 8px;
          }
        }
        .zin90 {
          z-index: 90;
          i {
            background: url(../images/icon24_login.png) no-repeat -48px 0;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 10px;
            top: 8px;
          }
        }
        .errorform{
        color:red
        }
        .login_button {
          text-align: center;
          input {
            width: 335px;
            height: 40px;
            border-radius: 0;
            background-color: #117dc8;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            border: none;
          }
          a {
            display: block;
            text-align: right;
            padding-right: 30px;
            padding-top: 10px;
            text-decoration: none;
            font-size: 14px;
            color: #c2c2c2;
          }
          a:hover{
            color: #117dc8;
          }
        }
        .login-footer {
          font-size: 16px;
          width: 100%;
          text-align: left;
          text-indent: 1.2em;
          background-color:#333;
          height: 40px;
          line-height: 40px;
          position: absolute;
          bottom: 0;
          right: 0;
          a{
            color: #c1bbab;
            font-size: 12px;
            img {
              vertical-align: text-bottom;
              padding-right: 5px;
            }
          }
          span {
            float: right;
            margin-right: 10px;
            color: #bbb;
          }
          a:hover{
            color: #117dc8;
          }
        }
      }
      }
@include respond-to(xs) {
  .loginBox .box_1 {
    width: 98%;
    left: 0;
}


}