.pswd{
    padding: 20px 2%;
    width: 96%;
    .autit{
      font-size: 22px;
      color:#333;
      font-family: 'microsoft yahei';
    }
    ul{
      padding-top: 30px;
      li{
        padding-top: 20px;
        label{
          display: block;
          float: left;
          width: 150px;
          text-align: right;
          line-height: 30px;
        }
        input[type='password']{
          height: 28px;
          border: 1px solid #ccc;
          width: 150px;
          padding-left: 10px;
        }

        button{
          width: 250px;
          background-color: $tcolor1;
          border: none;
          color:#fff;
          font-family: 'microsoft yahei';
          height: 40px;
          transition:background-color .3s;
          cursor: pointer;
        }
        button:hover{
          background-color: $tcolor2;
        }
      }
      .pd_ts{
        color:#999;
        padding-left: 150px;

      }
    }
  }
@include respond-to(lg) {
    .pswd{
      ul{
        padding-top: 30px;
        li{
          padding-top: 20px;
          label{
            display: block;
            float: left;
            width:120px;
            text-align: right;
            line-height: 30px;
          }
          input[type='text']{
            height: 28px;
            border: 1px solid #ccc;
            width: 150px;
            padding-left: 10px;
          }

          button{
            width: 212px;
            background-color: $tcolor1;
            border: none;
            color:#fff;
            font-family: 'microsoft yahei';
            height: 40px;
            transition:background-color .3s;
            cursor: pointer;
          }
          button:hover{
            background-color: $tcolor2;
          }
        }
        .pd_ts{
          color:#999;
          padding-left: 80px;

        }
      }
    }
}
