@charset "UTF-8";
$width:100%;
$atcolor1:#117dc8;//a链接的字体颜色
$atcolor2:#76bdef;//a：hover链接的字体颜色
$tcolor1:#117dc8;//按钮的背景颜色
$tcolor2:#76bdef;//hover按钮的背景颜色
$pointbg:#F4F4F4;//提示背景色
$ulcolor:#F4F4F4;//ul头部的背景的颜色
$titlcolor:#76bdef;//title的字体颜色