@charset "UTF-8";
//这里的嵌套格式一定要用花阔号，
//每句都要用结束符可以使用私有属性
@import "_config.scss";
@import "_mixins.scss";
@import "variable.scss";
.entrust{
     width: 96%;
    padding: 20px 2%;
    h3{
        padding: 20px;
        font-size: 22px;
    }
    .entrustList{
        margin-top: 30px;
        select,input{
            border: 1px solid #ccc;
        }
    }
    ul{
        border-bottom: 1px solid rgba(204, 204, 204, 0.4);
    }
    ul li{
        float: left;
        width: $width/7;
        text-align: center;
        padding: 10px 0;
    }
    ul.ulHeader{
        background-color: $ulcolor;
    }
    .Jpage{
        text-align: center;
        span{
            background-color: $tcolor1;
            padding: 5px 10px;
            cursor: pointer;
            margin:0 10px; 
            color: #fff;
            &:hover{
                background-color: $tcolor2;
            }
        }
        p:nth-child(1){
            padding-top: 20px;
        }
        p{
            padding-top: 15px;
        }
        p select{
            width: 50px;
            margin: 0 10px;
        }
    }
}
// xs:480px;sm:768px;md:992px;lg:1200px;mg:1400px

.entrust{
    .entrustList{
        @include respond-to(xs){
            overflow: scroll;
        }
        ul{
           @include respond-to(xs){
                min-width: 780px;
            }
        }
        .Jpage{
            p{
                @include respond-to(xs){
                    min-width: 680px;
                } 
            }
        }
        .Jpage input{
            @include respond-to(xs){
                border: 1px solid #ccc;
            }
        }
    }
}
