html{font-size: 16px;}
body{font-size: 16px;background: #ecf0f1}
@import "_config";
@import "_mixins";
.footr{
    position: fixed;
    bottom: 0;
     width:100%;
     height:50px;
     background:#000;
     line-height:50px;
     color:#ccc;
     font-size:14px;
     text-align: center;
  }
  // xs:480px;sm:768px;md:992px;lg:1200px
//Responsive
@include respond-to(lg) {
    .footr{
     width:100%;
     height:40px;
     line-height:40px;
     font-size:13px;
  }
}
@include respond-to(md) {
  .footr{
     width:100%;
     height:35px;
     line-height:35px;
     font-size:12px;
  }
}
@include respond-to(sm) {
  .footr{
     width:100%;
     height:30px;
     line-height:30px;
     font-size:10px;
  }
}