@import "_config";
@import "_mixins";
.market .container .price_today .price_l1 span,
  .market .container .price_today .price_l2 span{
    width:16%;
  }
.market{
  width: 100%;
  background-color: #fff;
  padding: 30px 0 30px 0;
  .container{
    width: 1200px;
    margin: 0 auto;
    h3{
      color: #117dc8;
      font-size: 22px;
      font-weight: 100;
      margin-bottom: 10px;
    }
    .price_today{
      background: #fff;
       .price_l1{
        background-color: #e0e0e0;
          span{
            width: 16%;
            display: inline-block;
            line-height: 40px;
            height: 40px;
            font-size: 14px;
            // width: 135px;
            text-align: center;
            // font-family: Microsoft YaHei,Arial,Helvetica,sans-serif;
            font-weight: bold;
            cursor: pointer;
            position: relative;
            em{
              font-size: 14px;
              color: #333;
              line-height: 40px;
              height: 40px;
            }
            .cagret {
              display: inline-block;
              width: 0;
              height: 0;
              margin-left: 2px;
              vertical-align: middle;
              border-top: 5px solid #848484;
              border-right: 5px solid transparent;
              border-left: 5px solid transparent;
              position: absolute;
              bottom: 14px;
              cursor: pointer;
            }
            .cagret-up {
              bottom: 21px;
              border-top: 5px solid transparent;
              border-right: 5px solid transparent;
              border-left: 5px solid transparent;
              border-bottom: 5px solid #848484;
            }
          }
        }
        .price_l2:nth-child(odd){
          background-color:#f5f5f5 !important;
        }
        .price_l2:last-child {
          border-bottom: 1px solid #e0e0e0;
        }
      .price_l2{
        span{
          width: 16%;
          display: inline-block;
          line-height: 40px;
          height: 40px;
          // width: 135px;
          font-size: 14px;
          text-align: center;
          // font-family: Microsoft YaHei,Arial,Helvetica,sans-serif;
          .p_a{
            img{
              width: 20px;
            }
          }
        }
      }
    }
  }
    
}
// xs:480px;sm:768px;md:992px;lg:1200px;mg:1400px
@include respond-to(lg) {
  .market{
    .container{
      // width: 992px;
      width: 100%;
      margin: 0 auto;
      h3{
        color: #117dc8;
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 10px;
      }
      .price_today{
        .price_l1{
          span{
            line-height: 36px;
            height: 36px;
            // width: 120px;
            width: 19.5%;
            font-size: 12px;
            em{
              font-size: 12px;
              line-height: 36px;
              height:36px;
            }
            .cagret {
              display: inline-block;
              width: 0;
              height: 0;
              margin-left: 2px;
              vertical-align: middle;
              border-top: 5px solid #848484;
              border-right: 5px solid transparent;
              border-left: 5px solid transparent;
              position: absolute;
              bottom: 10px;
              cursor: pointer;
            }
            .cagret-up {
              bottom: 17px;
              border-top: 5px solid transparent;
              border-right: 5px solid transparent;
              border-left: 5px solid transparent;
              border-bottom: 5px solid #848484;
            }
          }
          .w130{
            width: 110px;
          }
          .w120{
            width: 104px;
          }
          .w140{
            width: 120px;
          }
          .w150{
            width: 135px;
          }
          .w75{
            width: 65px;
          }
        }
        .price_l2{
          span{
            display: inline-block;
            line-height: 36px;
            height: 36px;
            // width: 135px;
            width: 19.5%;
            font-size: 12px;
            text-align: center;
            .p_a{
              img{
                width: 20px;
              }
            }
          }
          .w130{
            width: 110px;
          }
          .w120{
            width: 104px;
          }
          .w140{
            width: 120px;
          }
          .w150{
            width: 135px;
          }
          .w75{
            width: 65px;
          }
        }
      }
    }
  }
  

  .lghide {
    display: none !important;
  }
  // .market .container .price_today .price_l1 span,
  // .market .container .price_today .price_l2 span{
  //   width:20%;
  // }
}
@include respond-to(md) {
  .mdhide {
    display:none !important;
  }
  .market{
    .container{
      // width: 768px;
      width: 100%;
      margin: 0 auto;
      h3{
        color: #117dc8;
        font-size: 18px;
        font-weight: 100;
        margin-bottom: 10px;
      }
      .price_today{
        .price_l1{
          span{
            line-height: 32px;
            height: 32px;
            // width: 100px;
            width: 24.5%;
            font-size: 12px;
            em{
              font-size: 12px;
              line-height: 32px;
              height:32px;
            }
            .cagret {
              display: inline-block;
              width: 0;
              height: 0;
              margin-left: 2px;
              vertical-align: middle;
              border-top: 4px solid #848484;
              border-right: 4px solid transparent;
              border-left: 4px solid transparent;
              position: absolute;
              bottom: 10px;
              cursor: pointer;
            }
            .cagret-up {
              bottom: 16px;
              border-top: 4px solid transparent;
              border-right: 4px solid transparent;
              border-left: 4px solid transparent;
              border-bottom: 4px solid #848484;
            }
          }
          .w130{
            width:82px;
          }
          .w120{
            width: 77px;
          }
          .w140{
            width: 92px;
          }
          .w150{
            width: 110px;
          }
          .w75{
            width: 58px;
          }
        }
        .price_l2{
          span{
            display: inline-block;
            line-height: 32px;
            height: 32px;
            // width: 100px;
            width: 24.5%;
            font-size: 12px;
            text-align: center;
            .p_a{
              img{
                width: 20px;
              }
            }
          }
          .w130{
            width:82px;
          }
          .w120{
            width: 77px;
          }
          .w140{
            width: 92px;
          }
          .w150{
            width: 110px;
          }
          .w75{
            width: 58px;
          }
        }
      }
    }
  }
  
}
@include respond-to(sm) {
  .smhide {
    display:none !important;
  }
  .market{
    .container{
      width:100%;
      overflow: hidden;
      margin: 0 auto;
      h3{
        color: #117dc8;
        font-size: 16px;
        font-weight: 100;
        width: 600px;
        margin: 0 auto 10px;
        overflow: hidden;
      }
      .price_today{
        // width: 600px;
        margin: 0 auto;
        overflow: hidden;
        .price_l1{
          span{
            line-height: 30px;
            height: 30px;
            // width: 100px;
            width: 29%;
            font-size: 12px;
            em{
              font-size: 12px;
              line-height: 30px;
              height:30px;
            }
            .cagret {
              display: inline-block;
              width: 0;
              height: 0;
              margin-left: 2px;
              vertical-align: middle;
              border-top: 4px solid #848484;
              border-right: 4px solid transparent;
              border-left: 4px solid transparent;
              position: absolute;
              bottom: 10px;
              cursor: pointer;
            }
            .cagret-up {
              bottom: 16px;
              border-top: 4px solid transparent;
              border-right: 4px solid transparent;
              border-left: 4px solid transparent;
              border-bottom: 4px solid #848484;
            }
          }
          .w130{
            width:65px;
          }
          .w120{
            width: 61px;
          }
          .w140{
            width: 65px;
          }
          .w150{
            width: 85px;
          }
          .w75{
            width: 42px;
          }
        }
        .price_l2{
          span{
            display: inline-block;
            line-height: 30px;
            height: 30px;
            // width: 100px;
            width: 29%;
            font-size: 10px;
            text-align: center;
            // font-family: tahoma,M icrosoft YaHei,Arial,Helvetica,sans-serif;
            .p_a{
              img{
                width: 10px;
              }
            }
          }
          .w130{
            width:65px;
          }
          .w120{
            width: 61px;
          }
          .w140{
            width: 65px;
          }
          .w150{
            width: 85px;
          }
          .w75{
            width: 42px;
          }
        }
      }
    }
  }
  
}