@import "_config";
@import "_mixins";
.infodown{
  padding: 20px 0;
  width: 100%;
  background-color: #fff;
   .container{
      width: 1200px;
      margin: 0 auto;
      .infoL{
        float: left;
        width: 320px;
        // height: 270px;
        margin-right: 60px;
        background: #fff;
        padding: 20px;
        position: relative;
        .info_tit {
          padding-bottom: 14px;
          h4 {
            float: left;
            color: #117dc8;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
          }
          a {
            padding-top: 6px;
            float: right;
            font-size: 12px;
            color:#aaa;
          }
          a:hover {
            color:#555;
          }
        }
        .content{
          a{
            display: block;
            font-size: 18px;
            cursor: pointer;
            line-height: 36px;
            p:nth-child(1){
              margin-right: 30px;
              float: left;
              font-size: 13px;
            }
            p:nth-child(2){
              float: right;
              // width: 170px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 14px;
            }
          }
          a:hover p{
            color: #117dc8;
          }
        }
      }
      .infoM{
        float: left;
        width: 320px;
        // height: 270px;
        margin-right: 60px;
        background: #fff;
        padding: 20px;
        position: relative;
        .info_tit {
          padding-bottom: 14px;
          h4 {
            float: left;
            color: #117dc8;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
          }
          a {
            padding-top: 6px;
            float: right;
            font-size: 12px;
            color:#aaa;
          }
          a:hover {
            color:#555;
          }
        }
        .content{
          a{
            display: block;
            font-size: 18px;
            cursor: pointer;
            line-height: 36px;
            p:nth-child(1){
              margin-right: 30px;
              float: left;
              font-size: 13px;
            }
            p:nth-child(2){
              float: right;
              // width: 170px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 14px;
            }
          }
          a:hover p{
            color: #117dc8;
          }
        }
        .more:hover{
          color: #117dc8;
        }
      }
      .infoR{
        float: right;
        width: 320px;
        // height: 270px;
        background: #fff;
        padding: 20px;
        position: relative;
        .info_tit {
          padding-bottom: 14px;
          h4 {
            float: left;
            color: #117dc8;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
          }
          a {
            padding-top: 6px;
            float: right;
            font-size: 12px;
            color:#aaa;
          }
          a:hover {
            color:#555;
          }
        }
       
        .content{
          a{
            display: block;
            font-size: 18px;
            cursor: pointer;
            line-height: 36px;
            p:nth-child(1){
              margin-right: 30px;
              float: left;
              // width: 170px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 14px;
            }
            p:nth-child(2){
              float: right;
              font-size: 13px;
            }
          }
          a:hover p{
            color: #117dc8;
          }
        }
        .more{
          position: absolute;
          bottom: 20px;
          right: 20px;
          font-size: 14px;
        }
        .more:hover{
          color: #117dc8;
        }
      }
   }
}
// xs:480px;sm:768px;md:992px;lg:1200px;mg:1400px
@include respond-to(lg) {
  .infodown{
     .container{
        width: 100%;
        .infoL{
          width: 45%;
          margin-right: 2%;
          padding: 2%;
          .info_tit {
            padding-bottom: 14px;
            h4 {
              float: left;
              color: #117dc8;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
            }
            a {
              padding-top: 6px;
              float: right;
              font-size: 12px;
              color:#aaa;
            }
            a:hover {
              color:#555;
            }
          }
          .content{
            a{
              display: block;
              font-size: 18px;
              cursor: pointer;
              line-height: 36px;
              p:nth-child(1){
                margin-right: 30px;
                float: left;
                font-size: 13px;
              }
              p:nth-child(2){
                float: right;
                // width: 170px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
              }
            }
            a:hover p{
              color: #117dc8;
            }
          }
        }
        .infoM{
          float: left;
          width: 45%;
          // height: 270px;
          margin-right: 0;
          background: #fff;
          padding: 2%;
          position: relative;
          .info_tit {
            padding-bottom: 14px;
            h4 {
              float: left;
              color: #117dc8;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
            }
            a {
              padding-top: 6px;
              float: right;
              font-size: 12px;
              color:#aaa;
            }
            a:hover {
              color:#555;
            }
          }
          .content{
            a{
              display: block;
              font-size: 18px;
              cursor: pointer;
              line-height: 36px;
              p:nth-child(1){
                margin-right: 30px;
                float: left;
                font-size: 13px;
              }
              p:nth-child(2){
                float: right;
                // width: 170px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
              }
            }
            a:hover p{
              color: #117dc8;
            }
          }
          .more:hover{
            color: #117dc8;
          }
        }
        .infoR{
          display: none;
        }
     }
  }
}


// xs:480px;sm:768px;md:992px;lg:1200px;mg:1400px
@include respond-to(sm) {
  .infodown{
     .container{
        width: 100%;
        .infoL{
          width: 96%;
          margin-right: 0;
          padding: 2%;
          .info_tit {
            padding-bottom: 14px;
            h4 {
              float: left;
              color: #117dc8;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
            }
            a {
              padding-top: 6px;
              float: right;
              font-size: 12px;
              color:#aaa;
            }
            a:hover {
              color:#555;
            }
          }
          .content{
            a{
              display: block;
              font-size: 18px;
              cursor: pointer;
              line-height: 36px;
              p:nth-child(1){
                margin-right: 30px;
                float: left;
                font-size: 12px;
              }
              p:nth-child(2){
                float: right;
                // width: 170px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 12px;
              }
            }
            a:hover p{
              color: #117dc8;
            }
          }
        }
        .infoM{
          float: left;
          width: 96%;
          // height: 270px;
          margin-right: 0;
          background: #fff;
          padding: 2%;
          position: relative;
          .info_tit {
            padding-bottom: 14px;
            h4 {
              float: left;
              color: #117dc8;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
            }
            a {
              padding-top: 6px;
              float: right;
              font-size: 12px;
              color:#aaa;
            }
            a:hover {
              color:#555;
            }
          }
          .content{
            a{
              display: block;
              font-size: 18px;
              cursor: pointer;
              line-height: 36px;
              p:nth-child(1){
                margin-right: 30px;
                float: left;
                font-size: 12px;
              }
              p:nth-child(2){
                float: right;
                // width: 170px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 12px;
              }
            }
            a:hover p{
              color: #117dc8;
            }
          }
          .more:hover{
            color: #117dc8;
          }
        }
        .infoR{
          display: none;
        }
     }
  }
}