@import "_config";
@import "_mixins";
.banner{
  width: 100%;
  height: 530px;
  .container{
    width: 100%;
    height: 500px;
    position: relative;
    .dianji{
      display: none;
    }
    .imgList{
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 10;
      position: absolute;
      top:0;
      left: 0;
      a{
        position: absolute;
        top:0;
        left: 0;
        display: block;
        opacity: 0;
        transition: all 1s;
        width: 100%;
        height: 100%;
        cursor: pointer;
        img{
          width: 100%;
          height: 500px;
        }
      }
      .on{
        opacity: 1;
      }
    }
    .indexList{
      position: absolute;
      left: 44%;
      bottom: 10px;
      z-index: 100;
      li{
        float: left;
        margin-right: 10px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        color: transparent;
        line-height: 14px;
        text-align: center;
        background: #4fb9dc;
        cursor: pointer;
      }
      .on{
        background: white;
      }
    }
    .btnzy{
      position:absolute;
      top: 50%;
      width: 30px;
      height: 60px;
      line-height:60px;
      background:transparent;
      font-size:50px;
      color: rgba(7, 7, 7, 0.5);
      text-align:center;
      display: none;
      z-index:100 ;
    }
    .btnzy:hover{
      color: #fff;
    }
    #left {
      left: 10%;
    }
    #right {
      right: 10%;
    }
    .login_box {
      width: 318px;
      height: 328px;
      overflow: hidden;
      position: absolute;
      right: 15%;
      top: 136px;
      background: rgba(0,0,0,0.3);
      font-family: tahoma,Microsoft YaHei,Arial,Helvetica,sans-serif;
      color: #333;
      z-index: 80;
      
      .login_bg{
        padding-left: 0;
        padding-top: 30px;
        height: 308px;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        .login_title {
          padding-left: 20px;
          color: #fff;
          height: 30px;
          line-height: 30px;
          font-size: 18px;
          margin-bottom: 19px;
          font-weight:200;
        }
        p{
          padding-left: 20px;
          color: rgba(255,255,255,0.8);
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .info{
           color: #5ba1f2;
        }
        span{
           margin-left:10px;
        }
        .divlo1{
            margin-top:10px;
            padding-left: 20px;
           a{
             margin-right:10px;
             display:inline-block;
             padding:5px 10px;
             color:#fff;
             font-size: 14px;
             background:#5ba1f2;
             &:hover{
               background:#fff;
               color:#5ba1f2;
             }
           }
        }
        .divlo2{
          padding: 20px 20px 5px;
          .goon{
             display:block;
             padding:7px 10px;
             text-align: center;
             color:#fff;
             font-size: 16px;
             background:#5ba1f2;
             &:hover{
               background: rgba(91, 161, 242, 0.8);
                color: #fff;
             }
          }
        }
        .out{
               text-align: right;
               color:#fff;
               padding-right:20px;
               cursor:pointer;
               &:hover{
                  color:#5ba1f2;
               }
        }
      }


      .login_box_1 {
        padding-left: 0;
        padding-top: 20px;
        height: 308px;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        .login_title {
          padding-left: 10px;
          color: #fff;
          height: 30px;
          line-height: 30px;
          font-size: 18px;
          margin-bottom: 19px;
        }
        .login_text {
          width: 100%;
          margin-bottom: 15px;
          position: relative;
          font-size: 12px;
          input {
            background: #fff;
            outline: none;
            width: 85.5%;
            border: 1px #d7d7d7 solid;
            border-right: none;
            border-left: none;
            height: 18px;
            padding: 10px 0;
            padding-right: 7px;
            padding-left: 40px;
            line-height: 18px;
            vertical-align: middle;
            color: #999;
          }
        }
        .zin100 {
          z-index: 100;
          i {
            background: url(../images/icon24_login.png) no-repeat 0 0;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 10px;
            top: 8px;
          }
        }
        .zin90 {
          z-index: 90;
          i {
            background: url(../images/icon24_login.png) no-repeat -48px 0;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 10px;
            top: 8px;
          }
        }
        .errorform{
        color:red
        }
        .login_button {
          text-align: center;
          margin-top:40px;
          input {
            width: 250px;
            height: 40px;
            border-radius: 0;
            background-color: #117dc8;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            border: none;
          }
          a {
            display: block;
            text-align: right;
            padding-right: 30px;
            padding-top: 10px;
            text-decoration: none;
            font-size: 14px;
            color: #c2c2c2;
          }
          a:hover{
            color: #117dc8;
          }
        }
        .login-footer {
          font-size: 16px;
          width: 100%;
          text-align: left;
          text-indent: 1.2em;
          background-color:#19160f;
          height: 40px;
          line-height: 40px;
          position: absolute;
          bottom: 0;
          right: 0;
          a{
            color: #c1bbab;
            font-size: 12px;
            img {
              vertical-align: text-bottom;
              padding-right: 5px;
            }
          }
          span {
            float: right;
            margin-right: 10px;
            color: #bbb;
          }
          a:hover{
            color: #117dc8;
          }
        }
      }

    }
  }
  .container:hover .btn {
    display: block;
    cursor: pointer;
  }
}
// xs:480px;sm:768px;md:992px;lg:1200px;mg:1400px
@include respond-to(lg) {
  .banner{
    height: 510px;
    .container{
      height: 510px;
      .imgList{
        a{
          img{
            height: 510px;
          }
        }
      }
      .indexList{
        li{
          width: 12px;
          height: 12px;
          line-height: 12px;
        }
      }
      .btnzy{
        width: 24px;
        height: 44px;
        line-height:44px;
        font-size:44px;
      }
      #left {
        left: 7%;
      }
      #right {
        right: 7%;
      }
      .login_box {
        width: 288px;
        top: 123px;
       .login_box_1 .login-footer { text-indent: 0em; }
      }
    }
  }
}
@include respond-to(md) {

  .banner{
    height: 430px;
    .container{
      height: 430px;
      .imgList{
        a{
          img{
            height: 430px;
          }
        }
      }
      .indexList{
        li{
          width: 10px;
          height: 10px;
          line-height: 10px;
        }
      }
      .btnzy{
        width: 22px;
        height: 40px;
        line-height:40px;
        font-size:40px;
      }
      #left {
        left: 1%;
      }
      #right {
        right: 1%;
      }
      #duo1{display:none; }
      #duo2{display:none; }
      .login_box {
            width: 278px;
            height: 270px;
            right: 10%;
            top: 85px;
            .login_bg {
              height:270px;
              padding-top: 20px;
                .login_title {margin-bottom: 5px;}
                 p { margin-bottom: 5px;}
                 .divlo1 { margin-top: 7px;}
                 .divlo2 { padding: 10px 20px 5px;}
             }
        .login_box_1 {
          padding-top: 10px;
          height: 260px;
          .login_title {
            font-size: 16px;
            margin-bottom: 14px;
          }
          .login_text {
            margin-bottom: 10px;
            font-size: 12px;
            input {
              height: 16px;
              line-height: 16px;
            }
          }
          .zin100 {
            i {
              width: 22px;
              height: 22px;
            }
          }
          .zin90 {
            i {
              width: 22px;
              height: 22px;
            }
          }
          .login_button {
            margin-top:20px;
            input {
              width:240px;
              height: 36px;
              font-size: 14px;
            }
            a {
              font-size: 14px;
            }
          }
          .login-footer {
            font-size: 14px;
            height: 36px;
            line-height: 36px;
          }
        }
      }
    }
  }
}
@include respond-to(sm) {
  .banner{
    height: 280px;
    .container{
      height:280px;
      .dianji{
        display: block;
      }
      .imgList{
        a{
          img{
            height: 300px;
          }
        }
      }
      .indexList{
        li{
          width: 6px;
          height: 6px;
          line-height: 6px;
        }
      }
      .btnzy{
        width: 18px;
        height: 36px;
        line-height:36px;
        font-size:34px;
      }
      #left {
        left: 1%;
      }
      #right {
        right: 1%;
      }
      .login_box {
        width: 250px;
        height: 180px;
        right: 5%;
        top: 80px;
          .login_bg {
            padding-top: 10px;
            height: 170px;
            .login_title {    font-size: 16px;}
            .divlo1,.divlo2{display:none;}

}
        .login_box_1 {
             padding-top: 10px;
             height: 170px;
          .login_title {
            font-size: 14px;
            margin-bottom: 5px;
            height: 20px;
             line-height: 20px;
          }
          .login_text {
            margin-bottom: 5px;
            font-size: 12px;
            input {
              height: 14px;
              line-height: 14px;
              padding-top: 8px;
              padding-bottom:8px;
            }
          }
          .zin100 {
            i {
                width: 18px;
                height: 18px;
                left: 9px;
                top: 4px;
                background-size: cover;
            }
          }
          .zin90 {
            i {
              background: url(../images/icon24_login.png) no-repeat -37px 0;
              width: 18px;
              height: 18px;
              left: 9px;
              top: 4px;
              background-size: cover;
            }
          }
          .login_button {
            margin-top:7px;
            input {
              width:200px;
              height: 32px;
              font-size: 12px;
            }
            a {
              font-size: 12px;
            }
          }
          .login-footer {
            font-size: 12px;
            height: 32px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
@include respond-to(xs) {
  .banner{
    height: 200px;
    .container{
      height:200px;
      .dianji{
        display: block;
      }
      .imgList{
        a{
          img{
            height: 230px;
          }
        }
      }
      .indexList{
        li{
          width: 6px;
          height: 6px;
          line-height: 6px;
        }
      }
      .btnzy{
        width: 14px;
        height: 30px;
        line-height:30px;
        font-size:24px;
      }
      #left {
        left: 1%;
      }
      #right {
        right: 1%;
      }
      .login_box {
          width: 180px;
          height: 100px;
          right: 2%;
          top: 80px;
          .login_bg {
            padding-top: 5px;
            height: 95px;
            .login_title { display:none;}
            .divlo1,.divlo2{display:none;}
            p{
               height: 14px;
              line-height: 14px;
              font-size: 12px;
            }
}
        .login_box_1 {
          padding-top: 5px;
          height: 95px;
          .login_title {
            font-size: 14px;
             margin-bottom: 0px;
          }
          #logindiv1{ display:none;}
          #logindiv2{ display:none;}
          #logindiv3{ display:none;}
          #logindiv4{ display:none;}
          #logindiv5{ display:none;}
          #logindiv6{
             p{
                 width: 50%;
                height: 24px;
                background: #5ba1f2;
                margin: 5px auto;
                color: #fff;
                font-size: 12px;
                text-align: center;
                line-height: 24px;
                cursor: pointer;
                &:hover{
                        background: #117dc8;      
                }
             }
             div{
                 width: 100%;
                background: #000;
                padding: 5px 10px;
                color: #fff;
                font-size: 12px;
                text-align: center;
                line-height: 24px;
             }
             span{
                display:block;
                width: 100%;
                height: 24px;
                line-height: 24px;
                text-align: right;
                a{
                  color: #fff;
                  font-size: 12px;
                }
             }
          }
          .login_text {
            margin-bottom: 10px;
            font-size: 12px;
            input { 
              height: 16px;
              line-height: 16px;
            }
          }
          .zin100 {
            i {
              width: 20px;
              height: 20px;
            }
          }
          .zin90 {
            i {
              width: 20px;
              height: 20px;
            }
          }
          .login_button {
            margin-top:15px;
            input {
              width:200px;
              height: 32px;
              font-size: 12px;
            }
            a {
              font-size: 12px;
            }
          }
          .login-footer {
            font-size: 12px;
            height: 32px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
@include respond-to(xs) {
  .loginBox .box_1 {
    width: 100%;
    left: 0;
}


}