.link{
  width: 100%;
  height: 330px;
  background-color: #fff;
  .container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    // background-color: #ccc;
    .li_top{
      text-align: center;
      font-size: 18px;
      color:#999;
    }
    .li_bot{
      padding-top: 30px;
      li{
        float: left;
        padding-left: 30px;
        padding-top: 20px;
      }

    }
  }
}