$tcolor1:#117dc8;
.log{
	width: 100%;
	font-size: 12px;
	.container{
		width: 1200px;
		margin: 0 auto;
		background-color: #fff;
		box-shadow: 0px 0px 10px #ccc;
	}
}
//shop title
.shopTit{
	width: 100%;
	background-color: #f5f5f5;
	li{
		font:normal normal 14px/40px 'microsoft yahei';
		float: left;
		text-align: center;
	}
	li:nth-child(1){
		width: 30%;
	}
	li:nth-child(2){
		width: 20%;
	}
	li:nth-child(3){
		width: 15%;
	}
	li:nth-child(4){
		width: 20%;
	}
	li:nth-child(5){
		width: 15%;
	}
}

.shopInfo{
	li{
		float: left;
	}
	li:nth-child(1n){
		width: 30%;
		
		.box1{
			padding:20px;
			div{
				margin-top:30px;
				float: left;
				width: 60%;
				span{
					line-height: 20px;
				}
			}
			img{
				width: 40%;
				float: left;
				max-width: 100px;
			}
		}
	}
	li:nth-child(2n){
		width: 20%;
		text-align: center;
		padding-top: 50px;
		line-height: 20px;
		span{
			color:#e30000;
		}
	}
	li:nth-child(3n){
		width: 15%;
		text-align: center;
		padding-top: 50px;
		line-height: 20px;
		span{
			color:#e30000;
		}
	}
	li:nth-child(4n){
		width: 20%;
		text-align: center;
		padding-top: 50px;
		line-height: 20px;
		span{
			color:#e30000;
		}
	}
	li:nth-child(5n){
		width: 15%;
		text-align: center;
		padding-top: 50px;
		a{
			color:#109a10;
		}
	}
}

.page{
	padding:20px; 
	text-align: center;
	button{
		background-color: $tcolor1;
		font-size: 12px;
		border: none;
		color:#fff;
		line-height: 20px;
		font-family: 'microsoft yahei';
		padding: 0 10px;
	}
}


// xs:480px;sm:768px;md:992px;lg:1200px
//Responsive
@include respond-to(lg) {
	.log{
		.container{
			width: 100%;
			// 0000000000
		}
	}	
}

@include respond-to(md) {
	.log{
		.container{
			width: 100%;
			.listBox{
				float: left;
				width: 50%;
				margin: 5% 0%;
				padding: 0% 0;
				transition: all .4s;
			}
			.scroll{
				overflow-x:scroll;
				.shop_box{
					min-width: 992px;
				}
			}
			
		}
	}
}