$tcolor1:#117dc8;
.address{
	width: 100%;
	font-size: 14px;
	.container{
		width: 1200px;
		margin: 0 auto;
		background-color: #fff;
		box-shadow: 0px 0px 10px #ccc;
	}
}

.addBox{
	font-size: 12px;
	.addTit{
		width: 100%;
		background-color: #f5f5f5;
		li{
			float: left;
			text-align: center;
			font:normal normal 14px/40px 'microsoft yahei';
		}
		li:nth-child(1){
			width: 15%;
		}
		li:nth-child(2){
			width: 10%;
		}
		li:nth-child(3){
			width: 15%;
		}
		li:nth-child(4){
			width: 15%;
		}
		li:nth-child(5){
			width: 30%;
		}
		li:nth-child(6){
			width: 15%;
		}
	}
}
.addInfo{
	li{
		float: left;
		text-align: center;
		font:normal normal 14px/20px 'microsoft yahei';
		padding:20px 0; 
	}
	li:nth-child(1){
		width: 15%;
	}
	li:nth-child(2){
		width: 10%;
	}
	li:nth-child(3){
		width: 15%;
	}
	li:nth-child(4){
		width: 15%;
	}
	li:nth-child(5){
		width: 30%;
	}
	li:nth-child(6){
		width: 15%;
	}
}
.addItem{
	text-align: center;
	button{
		background-color: $tcolor1;
		font-size: 14px;
		border: none;
		color:#fff;
		line-height: 26px;
		font-family: 'microsoft yahei';
		padding: 0 10px;
	}
}


// xs:480px;sm:768px;md:992px;lg:1200px
//Responsive
@include respond-to(lg) {
	.address{
		.container{
			width: 100%;
			// 0000000000
		}
	}	
}

@include respond-to(md) {
	.address{
		.container{
			width: 100%;
			.listBox{
				float: left;
				width: 50%;
				margin: 5% 0%;
				padding: 0% 0;
				transition: all .4s;
			}
			.scroll{
				overflow-x:scroll;
				.addBox{
					min-width: 992px;
				}
			}
			
		}
	}
}