.auth{
    padding: 20px 2%;
    width: 96%;
    .autit{
      font-size: 22px;
      color:#333;
      font-family: 'microsoft yahei';
    }
    .au_info{
      padding-top: 30px;
      .ai_tit{
        border-bottom: 1px solid #e5e5e5;
        font-size: 16px;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }
      table{
        color:#555;
        td{
          padding:5px 30px 5px 0;
        }
      }
      p{
        line-height: 30px;
      }
      .sinfo{
        color:$tcolor1;
      }
    }
    .service{
      display:inline-block;
      background-color: $tcolor1;
      padding: 5px 20px;
      color:#fff;
      margin-top: 30px;
      cursor: pointer;
      i{
        padding-right: 10px;
      }
    }
  }

@include respond-to(lg) {
 .breadcrumb{
    padding:20px 0;
    font-size: 12px;
  }
  
}

@include respond-to(md) {
  .auth{
    font-size:14px;
    min-width: 320px;
    }
    .breadcrumb{
      padding:20px 0;
      font-size: 12px;
    }
}

@include respond-to(sm) {
  .auth{
    font-size:12px;
}
    .breadcrumb{
      padding:20px 0;
      font-size: 12px;
    }
}