<style>
	.pswd .passwordBox{
		width: 270px;border: 1px solid #117dc8;background-color: #117dc8;color: #fff;padding: 10px;border-radius: 10px;
		position: absolute;top: 50%;left: 50%;margin-left: -135px;display: none;text-align: center;}
	.pswd .hideShow{display: block;}
	@media screen and (max-width: 480px){
		.pswd ul li label{width: 130px;}
		.pswd .passwordBox{
		  width: auto;
		  border:none;
		  background-color: #fff;
		  padding: 10px;
		  border-radius: 0;
		  position:static;
		  top: 0;
		  left:0;
		  margin-left:0;
		  color:red;
		}
	}
</style>
<div class="pswd">
	<h2 class="pdtit">修改登录密码</h2>
	<ul>
		<li><label>原始密码：</label><input type="password" ng-model="password"><i></i></li>
		<li class="pd_ts">请输入原始密码</li>
		<li><label>新密码：</label><input type="password" ng-model="newPassword"></li>
		<li><label>确认密码：</label><input type="password" ng-model="ensurePassword"></li>
		<li class="pd_ts"><button ng-click="saveFile()">保存</button></li>
	</ul>
	<div class="passwordBox" ng-class="{true:'hideShow'}[passwordflg]">{{passwordTip}}</div>
</div>