<style>
	.pswd .payPasswordBox{
		width: 270px;border: 1px solid #117dc8;background-color: #117dc8;color: #fff;padding: 10px;
		border-radius: 10px;position: absolute;top: 50%;left: 50%;margin-left: -135px;display: none;text-align: center;}
	.pswd .hideShow{display: block;}
	@media screen and (max-width: 480px){
		.pswd ul li label{width: 130px;}
		.pswd .payPasswordBox {
	    width: auto;
	    border: none;
	    background-color: #fff;
	    color: red;
	    padding: 0;
	    border-radius: 0;
	    position: static;
	    top: 0;
	    left: 0;
	    margin-left: 0;
	    text-align: center;
		}
	}
</style>
<div class="pswd" ng-cloak>
		<h2 class="pdtit">修改交易密码</h2>
		<ul>
			<li><label >交易密码：</label><input type="password" ng-model="payPassword"><i></i></li>
			<li class="pd_ts">请输入原始交易密码！</li>
			<li><label >新交易密码：</label><input type="password" ng-model="newPaypassword"></li>
			<li><label >再次输入新密码：</label><input type="password" ng-model="ensurePaypassword"></li>
			<li class="pd_ts"><button ng-click="amendPassword()">保存</button></li>
		</ul>
		<div class="payPasswordBox" ng-class="{true:'hideShow'}[payPasswordflg]">{{payPasswordTip}}</div>
	</div>