<div class="container">
	<h2>完成认证</h2>
	<div class="jindu">
		<div class="line"></div>
		<div class="circle one">1</div>
		<div class="circle two">2</div>
		<div class="circle three">3</div>
		<div class="circle four active">4</div>
	</div>
	<div class="reg clearfix">
		
		<ul class="regBox clearfix">
			<div class="allright">恭喜您，现在注册成功！</div>
			<li>
				<table>
					<tbody>
						<tr>
							<td class="fr">手机号：</td>
							<td>{{phone}}</td>
						</tr>
						<tr>
							<td class="fr">真实姓名：</td>
							<td>{{realname}}</td>
						</tr>
						<tr>
							<td class="fr">身份证号：</td>
							<td>{{certificateNum}}</td>
						</tr>	
					</tbody>
				</table>
			</li>
		</ul>
		<div class="next">
			<button ng-click='goindex()'>跳到首页</button>
		</div>
		
	</div>
</div>