<div class="container">
	<h2>用户注册</h2>
	<div class="jindu">
		<div class="line"></div>
		<div class="circle one active">1</div>
		<div class="circle two">2</div>
		<div class="circle three">3</div>
		<div class="circle four">4</div>
	</div>
	<div class="reg clearfix">
		<table>
			<tbody>
				<tr>
					<td class="fr">手机号码：</td>
					<td><input type="text" ng-blur='phone()' ng-model='phoneval' id='phone'><button ng-click='getphoneyz()' ng-disabled='isDisable' ng-bind='text' class='getp'></button><span ng-class="{true:'right',false:'erro'}[phonetype]">{{phonemessage}}</span></td>
				</tr>
				<tr>
					<td class="fr">手机验证码：</td>
					<td><input type="text" ng-blur='phoneyz()' ng-model='phoneyzval' ng-disabled="yzsuccess"><span ng-class="{true:'right',false:'erro'}[phoneyztype]">{{phoneyzmessage}}</span></td>
				</tr>
				<tr>
					<td class="fr">密码：</td>
					<td><input type="password" ng-blur='pdyz()' ng-model='pdyzval'><span ng-class="{true:'right',false:'erro'}[pdyztype]">{{pdyzmessage}}</span></td>
				</tr>
				<tr>
					<td class="fr">确认密码：</td>
					<td><input type="password" ng-blur='againpd()' ng-model='againpdval'><span ng-class="{true:'right',false:'erro'}[againpdtype]">{{againpdmessage}}</span></td>
				</tr>
				<tr>
					<td class="fr">邀请码：</td>
					<td><input type="text" placeholder="非必填" ng-change='yqma()' ng-model='invitval'></td>
				</tr>
				<tr>
					<td class="fr"></td>
					<td><input type="checkbox" ng-change='select()' ng-model='agree'>我已阅读并同意《<a class='pt' ng-click='showBox()'>交易平台服务协议</a>》<span ng-class="{true:'right',false:'erro'}[xytype]">{{xymessage}}</span></td>
				</tr>
			</tbody>
		</table>
		<div class="mask" ng-if='maskFlag'>
			<div class="xieyi">
				<div class="tit">交易平台服务协议</div>
				<div class="close" ng-click='closeBox()'>×</div>
				<div class="content">
					<h3>用户协议</h3> 
					<p>宏强网络交易平台所提供的各项服务的所有权和运作权均归宏强网络有限公司所有。宏强网络交易平台用户注册使用协议（以下简称“本协议”）系由宏强网络交易平台用户与宏强网络有限公司就宏强网络交易平台的各项服务所订立的相关权利义务规范。用户通过访问或使用本网站， 即表示接受并同意本协议的所有条件和条款。宏强网络有限公司作为宏强网络交易平台的运营者依据本协议为用户提供服务。不愿接受本协议条款的， 不得访问或使用本网站。宏强网络有限公司有权对本协议条款进行修改，修改后的协议一旦公布即有效代替原来的协议。用户可随时查阅最新协议。</p>
					<h3>服务内容</h3>
					<p>1、宏强网络有限公司运用自己的系统，通过互联网络等方式为用户提供宏强网络的交易服务。</p>
					<p>2、用户必须自行准备如下设备和承担如下开支：</p>
					<p>①上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他上网装置。</p>
					<p>②上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。</p> 
					<p>3、用户提供的注册资料，用户必须同意：</p>
					<p>①提供中华人民共和国大陆地区合法、真实、准确、详尽的个人资料。</p>
					<p>②如有变动，及时更新用户资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且宏强网络有限公司保留终止用户使用宏强网络交易平台各项服务的权利。</p>
					<h3> 服务的提供、修改及终止</h3>
					<p>1、用户在接受宏强网络交易平台各项服务的同时，同意接受宏强网络交易平台提供的各类信息服务。用户在此授权宏强网络有限公司可以向其电子邮件、手机、通信地址等发送商业信息。用户有权选择不接受宏强网络交易平台提供的各类信息服务，并进入宏强网络交易平台相关页面进行更改。</p>
					<p>2、宏强网络交易平台保留随时修改或中断服务而不需通知用户的权利。宏强网络交易平台有权行使修改或中断服务的权利， 不需对用户或任何无直接关系的第三方负责。</p>
					<p>3、用户对本协议的修改有异议，或对宏强网络交易平台的服务不满，可以行使如下权利：</p>
					<p>①停止使用宏强网络交易平台的网络服务。</p> 
					<p>②通过客服等渠道告知宏强网络交易平台停止对其服务。 结束服务后，用户使用宏强网络交易平台网络服务的权利立即终止。在此情况下，宏强网络交易平台没有义务传送任何未处理的信息或未完成的服务给用户或任何无直接关系的第三方。</p>
					<h3>用户信息的保密</h3>
					<p>1、本协议所称之宏强网络交易平台用户信息是指符合法律、法规及相关规定，并符合下述范围的信息：</p>
					<p>①用户注册宏强网络账户时，向宏强网络交易平台提供的个人信息。</p>
					<p>②用户在使用宏强网络交易平台服务、参加网站活动或访问网站网页时，宏强网络交易平台自动接收并记录的用户浏览器端或手机客户端数据， 包括但不限于IP地址、网站中的资料及用户要求取用的网页记录。</p>
					<p>③宏强网络交易平台从商业伙伴处合法获取的用户个人信息。</p>
					<p>④其它宏强网络交易平台通过合法途径获取的用户个人信息。</p>
					<p>2、宏强网络有限公司承诺：非经法定原因或用户事先许可，不会向任何第三方透露用户的密码、姓名、 手机号码等非公开信息。</p>
					<p>3、在下述法定情况下，用户的个人信息将会被部分或全部披露：</p>
					<p>①经用户同意向用户本人或其他第三方披露。</p>
					<p>②根据法律、法规等相关规定，或行政机构要求，向行政、司法机构或其他法律规定的第三方披露。</p>
					<p>③其它宏强网络有限公司根据法律、法规等相关规定进行的披露。</p>
					<h3>用户权利</h3>
					<p>1、用户的用户名、密码和安全性：</p>
					<p>①用户有权选择是否成为宏强网络交易平台用户，用户选择成为宏强网络交易平台注册用户时，可自行输入手机号为帐号。用户名和帐号使用应遵守相关法律法规并符合网络道德。用户名和帐号中不能含有任何侮辱、威胁、淫秽、 谩骂等侵害他人合法权益的文字。</p>
					<p>②用户一旦注册成功，成为宏强网络交易平台的用户，将得到用户名和密码，并对以此组用户名和密码登入系统后所发生的所有活动和事件负责，自行承担一切使用该用户名的言语、 行为等而直接或者间接导致的法律责任。</p>
					<p>③用户有义务妥善保管宏强网络交易平台账号、用户名和密码，用户将对用户名和密码安全负全部责任。因用户原因导致用户名或密码泄露而造成的任何法律后果由用户本人负责，由于用户自身原因泄露这些信息导致的财产损失，本站不负相关责任。由于本站是交易网站，登录密码、提现密码、交易密码等不得使用相同密码，否则会有安全隐患， 相关责任由用户自身承担。</p>
					<p>④用户密码遗失的，可以通过绑定的手机号码重置密码。用户若发现任何非法使用用户名或存在其他安全漏洞的情况， 应立即告知宏强网络交易平台运营平台。</p>
					<p>⑤宏强网络交易平台不会向任何用户索取密码，不会让用户往任何非本站交易中心里提供的帐户打款， 请大家不要相信任何非宏强网络有限公司提供的打折、优惠等诈骗信息，往非宏强网络交易平台提供的账户、 地址里打款或币造成的损失本站不负责任。</p>
					<p>2、用户有权根据网站相关规定，在发布信息等贡献后，取得宏强网络交易平台给予的奖励。</p>
					<p>3、用户有权修改其个人账户中各项可修改信息，自行录入介绍性文字，自行决定是否提供非必填项的内容。</p>
					<p>4、用户有权参加宏强网络交易平台组织提供的各项线上、线下活动。</p>
					<p>5、用户有权根据宏强网络交易平台网站规定，享受宏强网络交易平台提供的其它各类服务。</p>
					<h3>用户义务</h3>
					<p>1、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、 复制和传播下列信息：</p>
					<p>①煽动抗拒、破坏宪法和法律、行政法规实施的。</p>
					<p>②煽动颠覆国家政权，推翻社会主义制度的。</p>
					<p>③煽动分裂国家、破坏国家统一的。</p>
					<p>④煽动民族仇恨、民族歧视，破坏民族团结的。</p>
					<p>⑤捏造或者歪曲事实，散布谣言，扰乱社会秩序的。</p>
					<p>⑥宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的。</p>
					<p>⑦公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的。</p>
					<p>⑧损害国家机关信誉的。</p>
					<p>⑨其他违反宪法和法律行政法规的。</p>
					<p>⑩进行商业广告行为的。</p>
					<p>2、用户不得通过任何手段恶意注册宏强网络交易平台网站帐号，包括但不限于以牟利、炒作、套现、获奖等为目的多个账号注册。用户亦不得盗用其他用户帐号,或者利用宏强网络交易平台以及交易平台漏洞刷取宏强网络。如用户违反上述规定，则宏强网络交易平台有权直接采取一切必要的措施，包括但不限于删除用户发布的内容、取消用户在网站获得的虚拟财富，暂停或查封用户帐号，取消因违规所获利益，乃至通过诉讼形式追究用户法律责任等。</p>
					<p>3、禁止用户将宏强网络交易平台以任何形式作为从事各种非法活动的场所、平台或媒介。未经宏强网络交易平台运营平台的授权或许可，用户不得借用本站的名义从事任何商业活动，也不得以任何形式将宏强网络交易平台作为从事商业活动的场所、平台或媒介。如用户违反上述规定， 则宏强网络交易平台运营平台有权直接采取一切必要的措施，包括但不限于删除用户发布的内容、取消用户在网站获得的虚拟财富， 暂停或查封用户帐号，取消因违规所获利益，乃至通过诉讼形式追究用户法律责任等。</p>
					<p>4、用户在宏强网络交易平台以各种形式发布的一切信息，均应符合国家法律法规等相关规定及网站相关规定，符合社会公序良俗，并不侵犯任何第三方主体的合法权益，否则用户自行承担因此产生的一切法律后果，且宏强网络有限公司因此受到的损失，有权向用户追偿。</p>
					<p>5、按照宏强网络有限公司的要求准确提供并及时更新您正确、最新及完整的身份信息及相关资料。若宏强网络有限公司有合理理由怀疑您提供的身份信息即相关资料错误、不实、过失或不完整的，宏强网络有限公司有权要求您补充相关资料来证明您身份的真实性。若您不能及时配合提供，宏强网络有限公司有权暂停或终止向您提供服务。宏强网络有限公司对此不承担任何责任， 您将承担因此产生的任何直接或间接支出。</p>
					<p>6、用户应当有独立的风险承担能力，以及具备相应的民事行为能力，注册实名认证用户应为中国大陆地区公民， 年龄限制在16周岁~70周岁。</p>
					<h3>拒绝担保与免责</h3>
					<p>1、宏强网络交易平台作为“网络服务提供者”的第三方平台，不担保网站平台上的信息及服务能充分满足用户的需求。 对于用户在接受宏强网络交易平台的服务过程中可能遇到的错误、侮辱、诽谤、不作为、淫秽、色情或亵渎事件， 宏强网络交易平台不承担法律责任。</p>
					<p>2、基于互联网的特殊性，宏强网络交易平台也不担保服务不会受中断，对服务的及时性、安全性都不作担保，不承担非因宏强网络交易平台导致的责任。 宏强网络交易平台力图使用户能对本网站进行安全访问和使用，但宏强网络交易平台不声明也不保证本网站或其服务器是不含病毒或其它潜在有害因素的。因此用户应使用业界公认的软件查杀任何自宏强网络交易平台下载文件中的病毒。</p>
					<p>3、宏强网络交易平台不对用户所发布信息的保存、修改、删除或储存失败负责。对网站上的非因宏强网络交易平台故意所导致的排字错误、疏忽等不承担责任。 宏强网络交易平台有权但无义务， 改善或更正本网站任何部分之疏漏、错误。</p>
					<p>4、除非宏强网络交易平台以书面形式明确约定，宏强网络交易平台对于用户以任何方式（包括但不限于包含、经由、连接或下载 ）从本网站所获得的任何内容信息，包括但不限于广告等，不保证其准确性、完整性、可靠性；对于用户因本网站上的内容信息而购买、获取的任何产品、服务、信息或资料，宏强网络交易平台不承担责任。 用户自行承担使用本网站信息内容所导致的风险。</p>
					<p>5、宏强网络交易平台内所有用户所发表的用户评论，仅代表用户个人观点，并不表示本网站赞同其观点或证实其描述，本网站不承担用户评论引发的任何法律责任。</p>
					<p>6、宏强网络有限公司有权删除宏强网络交易平台内各类不符合法律或协议规定的信息，而保留不通知用户的权利。</p>
					<p>7、所有发给用户的通告，宏强网络交易平台都将通过正式的页面公告、站内信、电子邮件、客服电话、手机短信或常规的信件送达。任何非经宏强网络交易平台正规渠道获得的中奖、优惠等活动或信息，宏强网络交易平台不承担法律责任。</p>
					<h3>适用法律和裁判地点</h3>
					<p>1、因用户使用宏强网络交易平台而引起或与之相关的一切争议、权利主张或其它事项， 均受中华人民共和国法律的管辖。</p><p>2、用户和宏强网络有限公司发生争议的，应首先本着诚信原则通过协商加以解决。如果协商不成，则应向宏强网络有限公司所在地人民法院提起诉讼。</p>
					<h3>可分性</h3>
					<p>如果本协议的任何条款被视为不合法、无效或因任何原因而无法执行，则此等规定应视为可分割，不影响任何其它条款的法律效力。</p>
					<h3>冲突选择</h3> 
					<p>本协议是宏强网络有限公司与用户注册成为宏强网络交易平台用户，使用宏强网络交易平台服务之间的重要法律文件，宏强网络有限公司或者用户的任何其他书面或者口头意思表示与本协议不一致的，均应当以本协议为准。</p>
					<h3 class="fr">宏强网络有限公司 2016年9月1日</h3>
				</div>
			</div>
		</div>
		<div class="next">
			<button ng-click='paypd()'>下一步</button>
		</div>
		
	</div>
</div>

