<div class="address">
	<div class="container clearfix">
		<div class="scroll">
			<div class="addBox clearfix">
				<ul class="addTit clearfix">
					<li>备注名称</li>
					<li>收件人</li>
					<li>身份证号</li>
					<li>电话</li>
					<li>地址</li>
					<li>操作</li>
				</ul>
				<ul class="addInfo clearfix">
					<li>上班地点</li>
					<li>凹凸曼</li>
					<li>44156221151412514</li>
					<li>12345678910</li>
					<li>广东省广州市天河区大街上看到了可那时快两年13156号12楼</li>
					<li><a href="#">修改</a>&nbsp;&nbsp;<a href="#">删除</a></li>
				</ul>
			</div>
		</div>
		
		<div class="addItem">
			<button>添加一个收货地址</button>
		</div>
			
		<div class="page">
			<button>上一页</button>
			<select>
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
			<button>下一页</button>
		</div>
	</div>
</div>